body{
    background-color: black;
}
td{
    height: 150px;
    width: 150px;
    border: 1px solid lightblue;
    text-align: center;
    font-size: 60px;
    color: yellow;
    
}
table{
    margin-left: 39%;
    margin-top: 5%;
   
}
h1{
    color: white;
    margin-top: 30px;
}
@media screen and (max-width: 992px) {
   h1{
   margin-left: 23%;
   }
  }